body{
    background-color: darkcyan;
    position: relative;
    font-family: serif;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 64px;
    background-color: rebeccapurple;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    color:black;
    border: 5px solid black;
   
}
.bio{
    width: 300px;
    font-size: 52px;
    background-color: rebeccapurple;
    margin-top: 0px;
    padding: 15px;
    border: 5px solid black;
    justify-content: center;
    position: absolute;
    left: 39%;
    top: 5%;
    text-align: center;
 
    
}
.button:hover, .project1:hover, .pcPic:hover, .recordColl:hover {
    border-color: greenyellow;
}
.button{
    text-align: center;
    background-color: rebeccapurple;
    color: black;
    font-size: 26px;
    margin-right: 20px;
    justify-content: center;
    padding: 15px;
    font-weight: 900;
    position: relative;
    left: 615px;
    top: 100px;
    cursor: pointer;
    border-color: black;
    border-style: solid;

}
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#myPicture img{
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    left: 750px;
    top: 200px;
    border: 5px solid;
    border-color: black;
}

#nameplt{
    background-color: rebeccapurple;
    font-size:40px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 400px;
    text-decoration: underline;
    

}

#about{
    position: relative;
    top: 400px;
    justify-content: center;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    


}
.pcPic, .recordColl{
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: black;
    position: relative;
    top: 400px;
    left: 550px;
    margin-left: 30px;
    margin-right: 30px;
    
}

h3{
    font-size: 35px;
    text-decoration: underline;
    font-size: 33px;
    text-align: center;
}
h4{
    text-align: center;
    font-size: 33px;
    text-decoration: underline;
    font-style: italic;
}
h5 {
    font-size: 50px;
    font-style: italic;
    margin-bottom: 50px;
}
#contacts{
    background-color: aquamarine;
    background-size: cover;
    display: block;
    position: absolute;
    top: 165%;
    left: 40%;
    padding-bottom: 50px;
    padding: 15px;
}
.icons{
    margin-top: 20px;
}
#contacts img{
    width: 30px;
    height:auto;

}
#projects{
    position: relative;
    top: 800px;
    background-color: rebeccapurple;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
    

}
.project1 {
    width: 470px;
    height: auto;
    border-radius: 20%;
    border-color: black;
    border-style: solid;
    position: relative;
    left: 150px;
    
 }

.WIP{
    width:300px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    margin-left: 47px;
    

}
.cLinks{
    font-size: 20px;

}
.cLinks:active{
 color:antiquewhite
}
@media screen and (max-width: 600px){
    body {
        background-color:lightblue; 
        width: 100%;
        height: 100%;
    }
   .bio{
    display: flex;
    flex-direction: column;
   }
   .button{
    width:100%;
    height:100%;
    flex-direction: column;
    flex-wrap: wrap;

   }
}
@media screen and (min-width: 700px){
    body {
        background-color: blanchedalmond;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-height: 700px){
    body {
        background-color: lavenderblush;
        width: 100%;
        height: 100%;
    };
}
@media screen and (max-height:2160px){
    body{
        background-color: lightgreen ;
        width: 100%;
        height: 100%;
    }